.home-publications .section {
  clear: both;
  padding: 6px 5px;
}

.home-publications h3 a {
  font-size: 20px;
  color: #68b78c;
}

.home-publications .paper-award {
  text-transform: uppercase;
  padding: 4px 8px !important;
  vertical-align: bottom;
}

.home-publications .home-publication-authors {
  color: #777;
}
