#home-banner .banner-container .container {
  margin-top: 100px;
  position: relative;
}

#home-banner .custom-news-section {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 9999;
  float: right;
  width: 300px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

#home-banner .custom-news-section p {
  color: white;
  margin: 15px 0;
}

#home-banner .custom-news-section p:first-of-type {
  margin-top: 0;
}

#home-banner .custom-news-section p:last-of-type {
  margin-bottom: 0;
}

#home-banner .custom-news-section p .news-title {
  color: #ddd;
  font-weight: bold;
}

#home-banner .custom-news-section p a {
  color: white;
  font-size: 20px;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  #home-banner .banner-container .container {
    width: 100%;
    max-width: none;
    padding: 30px;
    margin: 0;
  }

  #home-banner .custom-news-section {
    display: none;
  }
}
